In [1]:
from collections import namedtuple

In [2]:
Point = namedtuple('Point', ['x','y'], defaults=[0,0])

In [3]:
issubclass(Point, tuple)

True

### Methods on namedtuple

In [4]:
Point._fields

('x', 'y')

In [5]:
Point._field_defaults

{'x': 0, 'y': 0}

In [6]:
p1 = Point(0,1)
p1

Point(x=0, y=1)

In [7]:
p2 = Point(1,0)
p2

Point(x=1, y=0)

In [8]:
p1 == p2 # namedtuple implement __eq__()

False

In [9]:
p1._asdict()

{'x': 0, 'y': 1}

In [10]:
p1 = p2

In [11]:
p1 is p2

True

In [12]:
p1 == p2

True

### \_\_slots\_\_

prevents `__dict__` and save memory

In [13]:
from datetime import date

In [14]:
class Base:
    __slots__ = 'name', 'age'
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def __repr__(self):
        return f"Base(name='{self.name}', age={self.age})"

In [15]:
b1 = Base('praveen', 19)

In [16]:
b1

Base(name='praveen', age=19)

In [17]:
b1.dob = date(2004,1,13)

AttributeError: 'Base' object has no attribute 'dob'

In [18]:
class Child(Base):
    __slots__ = 'dob'
    
    def __init__(self, name, age, dob):
        self.dob = dob
        
        Base.__init__(self, name, age)
        
    @property
    def is_age(self):
        return ((date.today() - self.dob).days // 365) == self.age
    
    def __repr__(self):
        return f"Child(name='{self.name}', age={self.age}, dob={self.dob})"

In [19]:
c1 = Child('praveen', 19, date(2004,1,13))

In [20]:
c1

Child(name='praveen', age=19, dob=2004-01-13)

In [21]:
c1.is_age

True