In [1]:
import numpy as np
import pandas as pd

In [2]:
import os, re
root_path = re.sub('Stats','Dataset'+os.sep, os.getcwd())

In [3]:
accidents = pd.read_csv(root_path + 'airline-accidents.csv')

In [4]:
accidents

   Year  Accidents
0  1997         25
1  1998         20
2  1999         21
3  2000         18
4  2001         13
5  2002         13
6  2003          7
7  2004          9
8  2005         18

**Sample Variance**

$ s^2 = \sum_{i=1}^{k} \frac{(x_i - \overline{x})}{n-1} $

In [5]:
def variance(x):
    var = 0
    x_mean = np.mean(x)
    n = x.size
    
    for xi in x:
        var += (xi - x_mean) ** 2
    return var / (n-1)

In [6]:
variance(accidents['Accidents'])

34.75

There is another way to compute the variance which uses the algebraic identity

$ s^2 = \frac{1}{n-1} \sum_{i=1}^{n} x_i^{2} - n \overline{x}^2 $

In [7]:
def variance2(x):
    var = 0
    x_mean = np.mean(x)
    n = x.size
    
    for xi in x:
        var += xi ** 2
    var -= n*x_mean**2
    return var / (n-1)

In [8]:
variance2(accidents['Accidents'])

34.75

**Sample Standard Deviation**

$ s = \sqrt{\sum_{i=1}^{k} \frac{(x_i - \overline{x})}{n-1}} $

In [9]:
def std_deviation(x):
    return np.sqrt(variance(x))

In [10]:
std_deviation(accidents['Accidents'])

5.894913061275798

**NOTE:** These two statistics are used to describe about the spread of the data values around the mean.